body,ul,li,dl,dt,dd,p,h1,h2,h3,h4,form,figure 
    margin:0
    padding:0
li list-style:none
a 
    text-decoration: none
    color black
img display:block
em font-style: normal
h1,h2,h3,h4 
    font-weight: normal